<% provide :title, "Edit profile" %>
<h1>Update your profile</h1>
<br>
<div class="well">
  <div class="row">
    <div class="span6 offset3">
      <%= simple_form_for @user, html: {class: 'form-horizontal'} do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation, label: "Confirm password"  %>
        <div class="form-actions">
          <%= f.button :submit, "Save changes", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
      <%#<%= if false # form_for(@user) do |f| %>%>
        <%#<%= render 'shared/error_messages' %>%>

        <%#<%= f.label :name %>%>
        <%#<%= f.text_field :name %>%>

        <%#<%= f.label :email %>%>
        <%#<%= f.text_field :email %>%>

        <%#<%= f.label :password %>%>
        <%#<%= f.password_field :password %>%>

        <%#<%= f.label :password_confirmation, "Confirm Password" %>%>
        <%#<%= f.password_field :password_confirmation %>%>

        <%#<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>%>
        <%#<% end %>%>

      <%# gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>

