<% provide(:title, 'Sign up') %>
<div class="hero-unit">
  <h2 class="pageHeader">Create your Communificiency Account</h2>
  <div class="signUpForm">
    <%= simple_form_for( @user, url: users_path, html: { class: 'signUpForm' }, validate: true ) do |f|  %>
      <%= f.input :email %>  
      <%= f.input :name %>  
      <%= f.input :password %>  
      <%= f.input :password_confirmation, label: "Confirm password" %>  <%# f.password_field :password_confirmation %>
      <div class="form-actions">
        <%= f.button :submit, "Create account", class: "btn-primary blue" %>
      </div>
    <% end %>
  </div>
</div>

