<% provide(:title, 'Sign up') %>
<div class="container">
  <div class="row-fluid">

    <div class="span12">

      <div class="hero-unit">
        <h2>Sign up for a Communificiency Account</h2>


        <%= form_for(@user, url: users_path) do |f|  %>
          <%# TODO(syu) -- fix display of this form, especially when presented with errors %>
          <%= render 'users/shared/errors' %>
          <div class="field">
            <%= f.label :email %>  <%= f.text_field :email %>
            <%= f.label :name %>  <%= f.text_field :name %>
            <%= f.label :password %>  <%= f.password_field :password %>
            <%= f.label :password_confirmation, "Confirm password" %>  <%= f.password_field :password_confirmation %>
          </div>

          <div class="actions">
            <%= f.submit "Create account" %>
          </div>
        <% end %>

      </div>

    </div><!--/span-->









  </div><!--/row-->

  <hr>


</div><!--/.fluid-container-->


