<%= simple_nested_form_for @project, html: {class: 'form-horizontal'} do |f| %>
  <fieldset>
    <legend> <%= @project %> </legend>
    <h3> Basic Info </h3>
    <% if false # f.object.class.column_names.each do |column| %>
      <%= f.input column.to_sym %>
    <% end %>
    <%=  f.input :name                                     %>
    <%=  f.input :short_description, input_html: {class: "span8"}, hint: "A short description of your project" %>
    <%=  f.input :long_description , input_html: {class: "span8"} %>
    <%=  f.input :video, label: 'Video URL', hint: "If you have a video you describing your project, include the URL here" %>

    <h3> Rewards </h3>
    <div class="rewards-container">
      <%= f.simple_fields_for :rewards do |nested| %>
        <div class="well">
          <% if false # (f.object.class.column_names - %w[minimum_contribution]).each do |column| %>
            <%= nested.input column.to_sym %>
          <% end %>
          <%= nested.input :name %>

          <%= nested.input :minimum_contribution, html: {class: 'input-prepend input-append'}, wrapper: 'prepend' do %>
            <%= content_tag :span, "$", class: "add-on" %>
            <%= nested.input_field :minimum_contribution %>
            <%= content_tag :span, ".00", class: "add-on" %>
          <% end %>
          <%= nested.link_to_remove "Remove this reward" %>

        </div>
      <% end %>
      <%= f.link_to_add "Add a reward", :rewards %>
    </div>

  <% end %>
