<%= simple_form_for @project, html: {class: 'form-horizontal'}, validate: true do |f| %>
  <fieldset>
    <legend> <%= @project %> </legend>
    <h3> Basic Info </h3>
    <div class="projectBasicInfo">
      <%=  f.input :name                                     %>
      <%=  f.input :short_description, input_html: {class: "span8"}, hint: "A short description of your project" %>
      <%=  f.input :long_description , input_html: {class: "span8"} %>
      <%=  f.input :funding_needed , input_html: {class: "span8"} %>

      <div class="divider"> </div>

      <%=  f.input :video, label: 'Video URL', hint: "If you have a video you describing your project, include the URL here" %>
    </div>

    <h3 class="projectFormHeader"> Rewards </h3>
    <div class="projectFormRewardsContainer">
      <p> You can edit your project's rewards here. </p>
      <%= link_to_add_association raw("Add new reward"), f, :rewards, class: "btn btn-primary", id: "add_reward" %>
      <%= f.simple_fields_for :rewards, validate: false do |nested| %>
        <%# render partial: 'reward_field', f: nested %>
        <%= render 'reward_fields', f: nested %>
      <% end %>
      <%# f.link_to_add raw("Add new reward"), :rewards, class: "btn btn-primary", id: "add_reward" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save project", class: "btn-large btn-success" unless @project.new_record? %>
      <%= f.button :submit, "Create project", class: "btn-large btn-success" if @project.new_record? %>
      <%= link_to "Discard changes", project_path(@project), class: "btn btn-large btn-danger" unless @project.new_record? %>
      <%= link_to "Discard project", projects_path, class: "btn btn-large btn-danger" if @project.new_record? %>
    </div>
  </fieldset>
<% end %>
