<%= simple_nested_form_for @project, html: {class: 'form-horizontal'} do |f| %>
  <fieldset>
    <legend> <%= @project %> </legend>
    <h3> Basic Info </h3>
    <div class="projectBasicInfo">
      <%=  f.input :name                                     %>
      <%=  f.input :short_description, input_html: {class: "span8"}, hint: "A short description of your project" %>
      <%=  f.input :long_description , input_html: {class: "span8"} %>

      <div class="divider"> derp </div>

      <%=  f.input :video, label: 'Video URL', hint: "If you have a video you describing your project, include the URL here" %>
    </div>

    <h3> Rewards </h3>
    <div class="projectFormRewardsContainer">
      <%= f.simple_fields_for :rewards do |nested| %>
        <div id="reward_<%= @ind ? @ind += 1 : @ind = 0 %>" class="projectForm-rewardWell">
          <%= nested.link_to_remove raw("&#215;"), class:"close" %>
          <h4><%= nested.object %></h4>
          <% if false # (f.object.class.column_names - %w[minimum_contribution]).each do |column| %>
            <%= nested.input column.to_sym %>
          <% end %>
          <%= nested.input :name %>
          <%= nested.input :short_description %>
          <%= nested.input :long_description,  input_html: {class: 'span8', rows: 10, cols: 50 }%>


          <%= nested.input :minimum_contribution, html: {class: 'input-prepend input-append'}, wrapper: 'prepend' do %>
            <%= content_tag :span, "$", class: "add-on" %>
            <%= nested.input_field :minimum_contribution %>
            <%= content_tag :span, ".00", class: "add-on" %>
          <% end %>

        </div>
      <% end %>
      <%= f.link_to_add raw("Add new reward"), :rewards, class: "btn btn-primary", id: "add_reward" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save project", class: "btn-large btn-success" unless @project.new_record? %>
      <%= f.button :submit, "Create project", class: "btn-large btn-success" if @project.new_record? %>
      <%= link_to "Discard changes", project_path(@project), class: "btn btn-large btn-danger" unless @project.new_record? %>
      <%= link_to "Discard project", projects_path, class: "btn-large btn-danger" if @project.new_record? %>
    </div>
  <% end %>
