<div id="reward_<%= @ind ? @ind += 1 : @ind = 0 %>" class="reward-block nested-fields">
  <div class="reward-header">
      <%= link_to_remove_association raw("&#215;"), f, class: 'close' %>
    <a href="#collapse_<%= @ind -%>" data-toggle="collapse" class="toggle">
      <h4>
        <%= f.object %>
      </h4>
    </a>
  </div>

  <div class="collapse" id ="collapse_<%= @ind -%>">
    <%= f.input :name %>
    <%= f.input :short_description %>
    <%= f.input :long_description,  input_html: {rows: 10, cols: 50 }%>


    <%= f.input :minimum_contribution, html: {class: 'input-prepend input-append'}, wrapper: 'prepend' do %>
      <%= content_tag :span, "$", class: "add-on" %>
      <%= f.input_field :minimum_contribution %>
      <%= content_tag :span, ".00", class: "add-on" %>
    <% end %>
  </div>

</div>
