<h3>Editing project:</h3>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
<%= "|" if current_user_signed_in? && current_user.admin? %>
<%= link_to 'Delete', @project, method: :delete, data: { confirm: "Are you sure?" } if  current_user.admin? %>
