<% provide(:title, @project.name) %>
<div class="container">
  <div class="row">
    <div class="span8">
      <%= render partial: 'layouts/flash', locals: {:flash => flash}%>
      <div class="hero-unit">
        <div class="group">
          <%# image_tag(@project.picture, alt: @project.name, class: "project-banner") %>
          <%= image_tag(@project.picture, alt: @project.name, class: "project-banner") if @project.picture and find_asset @project.picture %>
          <div class="black-mask project-banner"></div>
          <h1 class="overlay" id="project-banner"><%# @project.name %></h1>
        </div>


        <%#==========================MAIN TEXT============================%>
        <div class="markdown">
          <h1 class="content-header"> <%= @project.name %> 
          <small><%= markdown @project.short_description %> </small>
        </h1>
      </div>


      <div class="markdown"> <%= markdown(@project.long_description) %> </div>
    </div> <!-- /hero unit -->


  </div><!--/span-->

  <%#==========================REWARD BAR============================%>


  <div class="span4 rewards-bar">
    <div class="rewards-container ">
      <h3 class="reward-header"> Project stats </h3>
      <div class="contribution-info">
        <div class="statistic row-fluid">
          <div class="statistic-num span6"> 25% </div><div class="statistic-caption span6"> funded </div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6">$350 </div><div class="statistic-caption span6"> of $1400 raised </div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6">281</div><div class="statistic-caption span6">contributors</div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6">41</div><div class="statistic-caption span6">days to go</div>
        </div>
      <!-- table> 
        <tr> <td> 25% </td> <td> funded </td> </tr>
        <tr> <td>$350 </td> <td> of $1400 raised </td> </tr>
        <tr> <td>281</td> <td>contributors</td> </tr>
      </table-->
      <div class="divider">  </div>
      <h3 class="contribution-Ask"> Contribute to <%= @project.name%> <small> and get one of the following rewards! </small> </h3>
      <%= simple_form_for(@contribution, url: new_project_contribution_path(@project), method: 'GET', id: "contributionForm") do |f| %>

        <%= f.input :amount, wrapper: 'prepend' , label: false do %>
          <%= content_tag :span, "$", class: "add-on" %>
          <%= f.input_field :amount, class: 'span2' %>
          <%# TODO(syu) change content tag to something clickable %>
          <%= content_tag :span, "Ok!", class: "add-on" %>
        <% end %>
      <h3 class="contribution-Ask"> <small> Enter your contribution above. </small>  </h3>
    </div>
    <h3 class="rewardBarHeader"> Rewards </h3>
    <% @project.rewards.each do |reward| %>
      <div class="reward">
        <div class="reward-header row-fluid">
          <div class="span9 reward-name">
            <p><%= reward.name %>  </p>
          </div> 
          <div class="span3 reward-dollars">
            $<%= reward.minimum_contribution.to_i -%>
          </div>
      </div>
        <%= link_to 'Contribute', new_project_contribution_path(@project, reward_id: reward),  class: "btn reward-btn remote", "data-submit" => "#contribution_amount" %>
        <%# f.button :submit  reward_id: reward),  class: "btn reward-btn" %>
        <p class="projectDescription"> <%= reward.long_description %> </p>
      </div>
    <% end %>
      <% end %>

  </div>
</div><!--/span-->
</div><!--/row-->



</div><!--/.fluid-container-->



<%= link_to 'Edit', edit_project_path(@project) if current_user && current_user.admin? %> |
<%= link_to 'Back', projects_path %>
