<% provide(:title, @project.name) %>
<% set_meta_tags :open_graph => {
  # type: "communificiency:project",
  type: "website",
  url:  "http://communificiency.com/caseus",
  description: @project.short_description
}
%>
<% set_meta_tags :canonical => "http://communificiency.com/caseus" %>

<% title @project.name %>

<div class="container">
  <div class="row">
    <div class="span8">
      <%= render partial: 'shared/flash', locals: {:flash => flash}%>
      <div class="hero-unit">
        <div class="group">

          <div id="myCarousel" class="carousel slide" data-interval="0">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <div class="carouselPadding">
                  <div class="projectBanner">
                    <%= image_tag(@project.picture, alt: @project.name) if @project.picture and find_asset @project.picture %>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carouselPadding">
                  <%# image_tag(@project.picture, alt: @project.name, class: "projectBanner") if @project.picture and find_asset @project.picture %>
                  <img src="http://placehold.it/350x150"/>
                </div>
              </div>
              <div class="item">
                <div class="carouselPadding">
                  <%# image_tag(@project.picture, alt: @project.name, class: "projectBanner") if @project.picture and find_asset @project.picture %>
                  <div class="projectBanner">
                    <img src="http://placehold.it/350x150" />
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          <%# image_tag(@project.picture, alt: @project.name, class: "project-banner") %>
          <%= image_tag(@project.picture, alt: @project.name, class: "project-banner") if @project.picture and find_asset @project.picture %>
          <div class="black-mask project-banner"></div>
          <h1 class="overlay" id="project-banner"><%# @project.name %></h1>
        </div>


        <%#==========================MAIN TEXT============================%>
        <div class="markdown">
          <h1 class="content-header"> <%= @project.name %> 
          <small><%= markdown @project.short_description %> </small>
        </h1>
      </div>


      <div class="markdown"> <%= markdown(@project.long_description) %> </div>
    </div> <!-- /hero unit -->


  </div><!--/span-->

  <%#==========================REWARD BAR============================%>


  <div class="span4 rewards-bar">
    <div class="rewards-container ">
      <h3 class="reward-header"> Project stats </h3>
      <div class="contribution-info">
        <div class="statistic row-fluid">
          <div class="statistic-num span6"><%=  @project.percent_funded %> </div><div class="statistic-caption span6"> funded </div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6"><%=  number_to_currency(@project.current_funding, precision: 0)  %></div><div class="statistic-caption span6"> of <%= number_to_currency(@project.funding_needed, precision: 0) %> raised </div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6"><%=  @project.valid_contributions.size %> </div><div class="statistic-caption span6">contributors</div>
        </div>
        <div class="statistic row-fluid">
          <div class="statistic-num span6"> <%= @project.num_days_remaining %> </div><div class="statistic-caption span6">days to go</div>
        </div>
        <div class="divider">  </div>
        <h3 class="contribution-Ask"> Contribute to <%= @project.name%> <small> and get one of the following rewards! </small> </h3>
        <%= simple_form_for(@contribution, url: new_project_contribution_path(@project), method: 'GET', id: "contributionForm") do |f| %>

          <div class="center">
            <%= f.input :amount, wrapper: 'prepend', label: false do %>
              <%= content_tag :span, "$", class: "add-on" %> <%= f.input_field :amount, size: 5, class: 'span2' %>
              <%= f.button :submit, "Contribute", class: "btn", id: "okButton" %>

            <% end %>
          </div>
          <h3 class="contribution-Ask"> <small> Enter your contribution above, or click on one of the rewards below. </small>  </h3>
        </div>
        <h3 class="rewardBarHeader"> Spread the word </h3>
        <div id="share">
          <p>Help Caseus accomplish its Communificiency project by telling your friends! </p>
          <div id="sharrre" data-url="http://communificiency.com/caseus" data-text="Help Caseus go green!" data-title="share"></div>
        </div>



        <h3 class="rewardBarHeader"> Rewards </h3>
        <% @project.rewards.each do |reward| %>
          <div class="reward <%= "rewardUnavailable" if reward.limited_quantity && reward.quantity_remaining == 0 %>" >
            <div class="reward-header row-fluid">
              <div class="span9 reward-name">
                <p><%= reward.name %>  </p>
              </div> 
              <div class="span3 reward-dollars">
                $<%= reward.minimum_contribution.to_i -%>
            </div>
          </div>
          <%= link_to 'Contribute', new_project_contribution_path(@project, reward_id: reward),  class: "btn reward-btn remote", "data-submit" => "#contribution_amount" %>
          <%# f.button :submit  reward_id: reward),  class: "btn reward-btn" %>
          <p class="projectDescription"> <%= reward.long_description %> </p>
          <% if reward.limited_quantity? %>
            <p class="projectLimited"> Limited quantity: <%= reward.quantity_remaining > 0 ? "#{reward.quantity_remaining} remaining" : "no rewards remaining"%> </p>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
</div><!--/span-->
</div><!--/row-->



</div><!--/.fluid-container-->



<%# link_to 'Edit', edit_project_path(@project) if current_user && current_user.admin? %> 
<%# link_to 'Back', projects_path %>
