<h1>Listing contributions</h1>

<table>
  <tr>
    <th>User id</th>
    <th>User name</th>
    <th>User email</th>
    <th>Project</th>
    <th>Reward</th>
    <th>Payment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @contributions.each do |contribution| %>
    <% if contribution %>
      <tr>
        <td><%= contribution.user_id %></td>
        <td><%= contribution.user.name if contribution.user%></td>
        <td><%= contribution.user.email if contribution.user%></td>
        <td><%= contribution.project %></td>
        <td><%= contribution.reward %></td>
        <td><%= contribution.payment %></td>
        <td><%= link_to 'Show', project_contribution_path(contribution.project, contribution) if contribution.project%></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />

