<% provide(:title, 'Confirm contribution') %>
<div class="container">
  <%= simple_form_for(@contribution, url: project_contributions_path(@project), validate: true, remote: false) do |f| %>
    <div class="row">
      <div class="span12">

        <div class="hero-unit">
          <div id="stepone">
            <h1>Thanks for helping <%= @project.name %><br> <small>You're almost there. Just a few more steps</small></h2>

            <h2 class="contributionPaymentHeader"> 1. Confirm your contribution </h2>
            <div class="instructions">
              Confirm the amount you want to contribute to <%= @project.name %>.
            </div>
            <div class='step1'>
              <%= f.input :amount, class: "inputContributionAmount", label: false, wrapper: "prepend", input_html: {type: 'number'}  do %>
                <%= content_tag :span, "$", class: "add-on", id: 'inputContributionDollarSign' %>
                <%= f.input_field :amount, id: 'inputContributionAmount' %>
                <%= content_tag :span, ".00", class: "add-on", id: "inputContributionZeros" %>
              <% end %>
            </div>
          </div>


          <br>

          <div id="steptwo">
            <h2 class="contributionPaymentHeader"> 2. Choose your reward </h2>
            <%= javascript_tag do %>
              window.rewardsURL = '<%= j project_path(@project) %>';
              window.rewards = <%= raw @project.rewards.to_json %>;
              window.reward = <%= @reward ? (raw @reward.to_json) : 'null'  %>;
            <% end %>
            <div class="instructions">
              Select your reward below.
            </div>

            <div id="reward">
              <h3 id="reward-name"> Loading reward... </h3> 
              <div class="reward-description">
                <div id="reward-minimum-contribution" class="reward-label">
                  <% #TODO add "what's this" helper %>
                  Minimum contribution:
                  <span class="reward-display"> </span>
                </div>
                <div id="reward-short-description" class="reward-label">
                  Description:
                  <span class="reward-display"> </span>
                </div>
                <div id="reward-estimated-delivery" class="reward-label" style="display: none">
                  Estimated delivery date:
                  <span class="reward-display"> </span>
                </div>
              </div>
            </div>
            <div id="chooseReward">
              <p>Choose reward: <%= f.association :reward, collection:  [Reward.new(name: "No reward -- I just want to contribute")] + @project.rewards,  validate: true, selected: @contribution.reward ? @contribution.reward.id : nil, label: false,  %> 
                If the reward you want has already been claimed (grayed out), and you really want it, email us at <%= mail_to "team@communificiency.com", "team@communificiency.com" %> and we'll see if there's anything we can do.
            </p>
          </div>
        </div>
        <br>





        <h2 class="contributionPaymentHeader"> 3. Pay </h2>
        <div class="instructions">
          Fill our your credit card information (<%= link_to '?', '#', id: "aboutStripe" %>) below and click pay. <% "You will be directed to Amazon, where you can sign in with your Amazon account (or create a new one). After confirming your payment with amazon, you'll be redirected here. " %>
      </div>

      <%= f.hidden_field :payment_transaction_provider, id: "transactionProvider" , value: "AMAZON" %>
      <div id="payStripe">
        <%= f.input "placeholder", as: "string", input_html: {class: "stripe card-number"}, label: "Card Number", value:"4242424242424242" %>
        <%# cvc_link = link_to ' %>
        <%= f.input "placeholder", as: "string", input_html: {class: "stripe card-cvc"}, label: "CVC", value: "123" %>
        <label>Expiration (MM/YYYY)</label>
        <input type="text" size="2" class="stripe card-expiry-month"/>
        <span> / </span>
        <input type="text" size="4" class="stripe card-expiry-year"/>




        <div class="error"> </div>
      </div>
      <div class="center">
        <%= f.button :submit, "Pay", id: "stripePayButton", class: "btn-primary" %>
      </div>




      <!-- div id="payAmazon">
      <div class="center">
      </div>
      </div -->



      <p>
      <%= link_to "Back to #{@project.name}", project_path( @project ) %>
      </p>


    </div>

  </div><!--/span-->
</div><!--/span-->


<% end # form for %> 
</div><!--/.fluid-container-->

