<% provide(:title, 'Confirm contribution') %>
<div class="container">
  <div class="row">
    <div class="span12">

      <div class="hero-unit">
        <%= simple_form_for(@contribution) do |f| %>
          <h1>Thanks for helping <%= @project.name %><br> <small>You're almost there. Just a few more steps</small></h2>

          <h2 class="contributionPaymentHeader"> 1. Confirm your contribution </h2>
          <p> Confirm the amount you want to contribute to <%= @project.name %>.</p>
          <div class='step1'>
            <%= f.input :amount, class: "inputContributionAmount", label: false, wrapper: "prepend" do %>
              <%= content_tag :span, "$", class: "add-on", id: 'inputContributionDollarSign' %>
              <%= f.input_field :amount, class: 'span2 inputContributionAmount' %>
              <%= content_tag :span, ".00", class: "add-on", id: "inputContributionZeros" %>
            <% end %>
          </div>


          <br>


          <h2 class="contributionPaymentHeader"> 2. Choose your reward </h2>
          <%= f.input :reward, as: 'radio_buttons', collection: @project.rewards, prompt: 'Select your reward', label: false do %>
            <%= f.association :reward, as: 'radio_buttons', label: false %>
          <% end %>
          <br>
          <h2 class="contributionPaymentHeader"> 3. Pay </h2>



          <% end # form for %> 

          <%= render 'form' %>

          <%= link_to 'Back', contributions_path %>

          <%# form_for(:payment, :url => payments_path) do |f|  %>
            <%# div class="field">
              <%= f.label :amount %> 
              <%# f.number_field :amount %>
            <%# div>

            <div class="actions">
              <%= f.submit "Pay" %>
            <%# /div %>
          <%# end %>

        </div>

      </div><!--/span-->
      <hr>


    </div><!--/.fluid-container-->


