<% 
    body_class = yield(:body_class) 
if body_class == ""
  body_class = "application"
end

%>
<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", content: STRIPE_API_KEY_TEST_PUBLIC %>
    <%= render 'layouts/shim' %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33512576-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body class="<%= body_class %>">

     <div class="container main <%= body_class %>">
       <%= content_for?(:header) ? yield(:header) : render( 'layouts/header' )  %>
       <%= render partial: 'shared/help' %>
       <%= yield :flash if content_for?(:flash)%>
       <%= content_for?(:body) ? yield(:body) : yield %>
       <%= render partial: 'shared/debug' %>
     </div>
   </body>
   <%= render 'layouts/footer' %>

 </html>
