<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", content: STRIPE_API_KEY_TEST_PUBLIC %>
    <%= render 'layouts/shim' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33512576-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

</script>
   </head>
   <body>
     <div class="bg">
       <% image_tag "background1.jpg", class: 'bg' %>
       <% image_tag "background_smallercrop.jpg", class: 'bg' %>
     </div>
     <%= render 'layouts/header' %>
     <div class="container main">
       <div id="helpDiv" class="modal fade">
      <a class="close" data-dismiss="modal">&#215;</a>
         <h2> Need help? </h2>
         <p> If you need any help or have any questions, please <%= mail_to("team@communificiency.com", "email us", subject: "Communificiency help", body: "I have a question about communificiency...", target: "_blank")  %>. We'll get back to you within the day. </p>

         <p> In particular, if you have any questions about our <%= link_to "first project", project_path(1) %>, or the rewards being offered, don't hesitate to ask us!</p>

         <p> We really appreciate your interest in Communificiency. We're a small team that just launched and are working hard to make sure everything runs smoothly, and we're excited to have you along for the ride. </p>


       </div>
       <%= render partial: 'layouts/flash', locals: {:flash => flash}%>
       <%= yield %>
       <%=  debug(params) if Rails.env.development? %>
       <%=  debug(flash) if Rails.env.development? %>
       <%=  debug(flash.now) if Rails.env.development? %>
       <%=  debug(session) if Rails.env.development? %>
       <%=  debug(assigns) if Rails.env.development? %>
     </div>
   </body>
   <%=render 'layouts/footer' %>


 </html>
